.contact {
    margin: auto;
    text-align: center;
    padding: 1em;
}
.center {
    margin: auto;
    max-width: 10em;;
}

.side {
    display: flex;
    justify-content: space-between;
    /* max-width: 12em; */
    align-items: center;
    margin: auto;
}

input {
    border: black .08em;
    border-style: none none solid none;
    width: 90%;
}

form {
    text-align: left;
    position: relative;
}
label {
    font-weight: 900;
}
.select {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.select>p{
    margin-right: .5em;
}
.arrow {
    font-size: .5em;
}
.selector {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    left: 4.2em;
    background-color: white;
}

.choice{
    opacity: 60%;
}
.choice:hover {
    opacity: 100%;
}
form>*{
    margin: .5em;
}
.subject{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
label {
    margin-right: .5em;
}
.right {
    text-align: right;
}
button {
    background-color: transparent;
    border: none;
    border-radius: .5;
    opacity: 60%;
    font-weight: 900;
}
button:hover {
    opacity: 100%;
}

textarea {
    resize: none;
    width: 90%;
}

.form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#email>input {
    width: 13em;
}

.title {
    opacity: 60%;
    padding-bottom: .5em;
}

.alert {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border: .1em solid black;
    background-color: white;
    padding: 1em;
}

.alert >p{
    margin: 1em;
}

.image {
    max-width: 80%;
    filter: grayscale(100%);
    margin: 1em auto;
}

.info {
    justify-content: space-between;
}

.optional{
    max-width: 50%;
}

.landscape {
    max-width: 12em;
    margin-bottom: 2em;
}

/* small screen styling */
@media only screen and (max-width: 450px){

}

/* large screen styling */
@media only screen and (min-width: 450px){
    .contact {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .info {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 300px;;
    }
    /* .info>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70%;
    } */
}